.leafletContainer {
    height: 400px;
    width: 400px;
}

.point {
    display: flex;
    flex-direction: row;
}

.point > div {
    width: 25%;
}

.diffStatusText {
    cursor: help;
}

.renderElement > button {
    margin-right: 30px;
    margin-left: auto;
}

.renderElement {
    display: flex;
}