.leafletContainer {
    height: 400px;
    width: 400px;
}

.point {
    display: flex;
    flex-direction: row;
}

.firstCol {
    max-width: 30em;
}
.secondCol {
    flex: 1;
}

.keys {
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    white-space: nowrap;
}

.actions {
    white-space: nowrap;
}

.value {
    min-width: 15em;
    max-width: 15em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.diffStatusText {
    cursor: help;
}

.renderElement > button {
    margin-right: 30px;
    margin-left: auto;
}

.renderElement {
    display: flex;
}