.leafletContainer {
    height: 400px;
    width: 400px;
    margin: 20px auto 0;
}

.point {
    display: flex;
    flex-direction: column;
}

.firstCol {
    max-width: 30em;
    margin: 0 auto;
}
.secondCol {
    margin: 0 auto;
}

.point h2 {
    text-align: center;
    margin-bottom: 50px;
}

.keys {
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    white-space: nowrap;
}

.actions {
    white-space: nowrap;

    display: flex;
    align-content: space-between;
}

.actions .secondGroupActions {
    margin-left: auto;
}

.actions > * {
    margin-right: 10px;
}

.value {
    min-width: 15em;
    max-width: 15em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.diffStatusText {
    cursor: help;
}

.renderElement > button {
    margin-right: 30px;
    margin-left: auto;
}

.renderElement {
}

.renderElement input[type=number] {
    width: 4em;
    margin-left: 1em;
    margin-right: 0.3em;
}

